%table.table.table-striped
  %thead
    %tr
      %th Courses
      %th Due Items
      %th Due Date
  %tbody
    %tr
      %td MATH 285
      %td Project #3 - Statistical Analysis
      %td= Time.now.strftime("%A, %m/%d/%y")
    %tr
      %td COMP 365
      %td HW #10 - Registers Implementation
      %td= Time.now.strftime("%A, %m/%d/%y")
    %tr
      %td PHYS 300
      %td (EC) Quiz - Magnetic Fields
      %td= (Time.now + 1.day).strftime("%A, %m/%d/%y")
    %tr
      %td COMP 365
      %td Final Exam - Cumulative Test
      %td= (Time.now + 2.day).strftime("%A, %m/%d/%y")
    %tr
      %td PHYS 300
      %td Final Exam - Ch. 7-12
      %td= (Time.now + 3.day).strftime("%A, %m/%d/%y")
