.row.items-view
  .col-md-4
    %button.btn.btn-default#today{type: "button"}
      Today
    .btn-group{role: "group"}
      %button.btn.btn-default{type: "button", "aria-label" => "previous time"}
        %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
      %button.btn.btn-default{type: "button", "aria-label" => "future time"}
        %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}
    %month-display= Time.now.strftime("%B %m, %y")

  .col-md-5
  .col-md-3
    .btn-group{role: "group"}
      %button.btn.btn-default{type: "button", "data-type" => "list"}
        List
      %button.btn.btn-default.active{type: "button", "data-type" => "week"}
        Week
      %button.btn.btn-default{type: "button", "data-type" => "2-week"}
        2-Week
      %button.btn.btn-default{type: "button", "data-type" => "month"}
        Month

.row.view-type
  -# here will be rendered various views of due items (list, week, etc)
  -# rendering default view (current week)
  = render "home/due_items/week_view"

.row.total-progress-box
  %h2 Current Progress
  .progress
    .progress-bar.progress-bar-striped.active{role: "progressbar"}
      8 / 12
  .col-md-4.progress-gpa
    %h2 Current GPA: 3.47
    %h2 Best Possible GPA: 3.68
  .col-md-8.canvas
    %canvas#canvas

:javascript
  $("button").click(function(event) {
    var button_type = $(event.target).data("type");
    if (typeof button_type == "undefined")
    { return; }

    $("button").removeClass("active");
    $(event.target).toggleClass("active");

    switch(button_type) {
      case "list":
        $("div.row.view-type").html('#{ j render "home/due_items/list_view"}');
        break;
      case "week":
        $("div.row.view-type").html('#{ j render "home/due_items/week_view"}');
        break;
      case "2-week":
        $("div.row.view-type").html('#{ j render "home/due_items/two_week_view"}');
        break;
      case "month":
        $("div.row.view-type").html('#{ j render "home/due_items/month_view"}');
        break;
    }
  });

  data = {
    labels : ["January","February","March","April","May","June","July"],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : [65,59,90,81,56,55,40]
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : [28,48,40,19,96,27,100]
      }
    ]
  }

  myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data)
