%row
  %h1.text-center Settings

%row
  %col-md-6.col-md-offset-3
    = form_for current_student, url: settings_path, method: :post, html: {class: "form-signin"} do |f|
      .field
        = f.label :username
        %br/
        .settings-text= f.text_field :username, placeholder: current_student.username
      .field
        = f.label :first_name
        %br/
        .settings-text= f.text_field :first_name, placeholder: current_student.first_name
      .field
        = f.label :last_name
        %br/
        .settings-text= f.text_field :last_name, placeholder: current_student.last_name
      .actions
        = f.submit "Update Profile", class: "btn btn-lg btn-primary"
