%row
  %col-md-6.col-md-offset-3
    - flash.each do |key, value|
      .alert.alert-danger{role: "#{key}"}= value
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f|
      %h1.form-signin-heading.text-center Progress Tracker
      %h5.form-signin-heading.text-center login: teshimkanov.student@gmail.com
      %h5.form-signin-heading.text-center password: password
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, placeholder: "Email Address", class: "form-control"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
      = render "devise/shared/links"
