%footer.footer
  %small
    The #{link_to "Progress Tracker", "https://github.com/tologon/progress_tracker", target: "_blank"}
    by #{link_to "Tologon Eshimkanov", "https://github.com/tologon", target: "_blank"}
  %nav
    %ul
      %li= link_to "About", '#'
      %li= link_to "Help", '#'
      %li= link_to "FAQ", '#'
      %li= link_to "Contact", '#'
