%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Progress Tracker", '#', id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home",        '#'
        %li= link_to "Progress",    '#'
        %li= link_to "Courses",     '#'
        %li= link_to "Tologon E.",  '#'
